/* add css module styles here (optional) */

.bubbleButton {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  border: 0;
  position: relative;
  letter-spacing: 0.15em;
  margin: 0 auto;
  padding: 1rem 2.5rem;
  background: transparent;
  outline: none;
  font-size: 28px;
  color: black !important;
  /* transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.15s; */
  &::after,
  &::before {
    border: 0;
    content: '';
    position: absolute;
    height: 40%;
    width: 20%;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.15s;
    z-index: -2;
    border-radius: 50%;
  }
  &::before {
    border: 0;
    background-color: red;
    top: 0rem;
    left: 0rem;
    /* animation: topAnimation 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.25s
        infinite alternate; */
  }
  &::after {
    background-color: green;
    top: 1rem;
    left: 3.5rem;
    /* animation: bottomAnimation 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s
        infinite alternate; */
  }
  &:hover {
    color: white !important;
    &::before,
    &::after {
      top: 0;
      height: 100%;
      width: 100%;
      border-radius: 0;
      animation: none;
    }
    &::after {
      left: 0rem;
    }
    &::before {
      top: 0.5rem;
      left: 0.35rem;
    }
  }
}

.animationMove {
  &::after,
  &::before {
    border: 0;
    content: '';
    position: absolute;
    height: 40%;
    width: 20%;
    z-index: -2;
    border-radius: 50%;
  }
  &::before {
    border: 0;
    background-color: red;
    top: 1.5rem;
    left: 0rem;
  }
  &::after {
    background-color: green;
    top: 1rem;
    left: -0.3rem;
  }
}

@keyframes topAnimation {
  from {
    transform: translateY(0rem);
  }
  to {
    transform: translateY(1rem);
  }
}
@keyframes bottomAnimation {
  from {
    transform: translateX(-3rem);
  }
  to {
    transform: translateX(0rem);
  }
}
